<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue Demo</title>
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="vue.js"></script>

</head>
<body>
	<!--vue-app是根容器-->
	<div id="vue-app">
		<h1>双向数据绑定的两种方式</h1>
		<label>姓名：</label>
		<input type="text" v-model="name">
		<p>你正在输入的名字是：{{name}}</p>
		<label>年龄：</label>
		<input type="text" v-model="age">
		<p>你正在输入的年龄是：{{age}}</p>
		<h1>--------------------------------</h1>
		<label>职业</label>
		<input ref="_job" type="text" v-on:keyup="showJob">
		<label>{{job}}</label>
	</div>
	<script src="app.js"></script>
</body>
</html>